{%for field in form%}
{%if field.errors%}
	<div class="col-sm-offset-2 col-sm-10">
		<span class="text-danger small ">
			{{field.errors}}
		</span>
	</div>
	{%endif%}

	{%if not field.html_name == 'foto' %}
		{%if field.html_name == 'nome' %}
			<div class="col-12">
				{{ field }}
			</div>
		{%elif field.html_name == 'username' %}
			<div class="col-12">
				{{ field }}
			</div>
		{%else%}
			<div class="col-6 col-12-medium">
				{{ field }}
			</div>
		{%endif%}
	{%else%}
	<div class="col-6 col-12-medium">
		<a class='icon fa-photo' href=''>
			{{ field }}
		</a>&nbsp;
		<span id="upload-file-info">Click aqui para adiconar a Foto</span>
	</div>
{%endif%}

{%endfor%}

<!--<div style="position:relative;">
        <a class='btn btn-primary' href=''>
            Choose File...
            <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
</div>-->